:root {
    /*Fonts*/
  
  
    /*Colours*/
    --black: #000000;
  }

/* Removes margins and padding */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
/* Full screen */
html,
body {
  height: 100%;
}

  /* Background image with a background colour to show if the image cannot load*/
body {
    
background-color: var(--black);
  background: url("../images/background.jpg") no-repeat center center;
  background-size: cover;
  line-height: 0px;
  text-align: center;
  }
/* --------- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
}

.logo {
    height: 100px;
}